---
// interface Props {
// 	title: string;
// 	description: string;
// 	image?: string;
// }

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// const { title, description, image = '/pmready.png' } = Astro.props;

const title = 'PMReady';
const description = 'PMReady is a nonprofit organization that serves as a community for passionate individuals who are committed to shaping the future of Product Managers, Program Managers, and Project Managers. We believe in providing equal opportunities for all students to learn, grow, and enter the dynamic field of Product Management.';
const image = '/pmready.png';
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="data:,">
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" itemprop="image" content={new URL(image, Astro.url)} />
<meta property="og:image:type" content="image/png">

<!-- <meta property="og:image:width" content="300">
<meta property="og:image:height" content="300"> -->

<meta property="og:type" content="website" />
<meta property="og:site_name" content={title}>
<meta property="og:locale" content="es_ES" />


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
